body, html{
    height: 100%; 
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(38, 33, 74);
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.upper{
    text-align: center;
    margin-top: 3lvw;
}

.upper p{
    font-size: 1.1lvw;
    color: white;
    letter-spacing: 0.1lvw;
}

.upper h1{
    font-size: 3lvw;
    color: #97feed;
}

#typing{
    text-align: center;
    font-size: 2.2lvw;
    color: white;
    overflow: hidden; 
    border-right: 0.2lvw solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
      typing 10s steps(40, end),
      blink-caret 2s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.upper h5{
    font-size: 1.4lvw;
    color: white;
    letter-spacing: 0.15lvw;
    
}

.middle{
    margin-bottom: 57lvw;
}

.middleleft{
    float: left;
    background-color: rgb(144, 235, 220);
    margin-left: 7lvw;
    margin-top: 5lvw;
    height: 47.4lvw;
    width: 35lvw;
}

.portimg{
    height: 17lvw;
    width: 17lvw;
    margin-top: 3.5lvw;
    margin-left: 8lvw;
}

.imgtext{
    font-size: 2.5lvw;
    text-align: center;
    color: rgb(38, 33, 74);
    padding: 2lvw;
}

.btn{
    text-decoration: none;
    font-size: 1.25lvw;
    letter-spacing: 0.05lvw;
    height: 4lvw;
    width: 10lvw;
    cursor: pointer;
    color: rgb(38, 33, 74);
    background-color: rgb(144, 235, 220);
    border: 0.1lvw solid rgb(144, 235, 220);
    margin-left: 11.5lvw;
    margin-bottom: 3lvw;
}

.btn:hover{
    background-color: rgb(38, 33, 74);
    color: rgb(144, 235, 220);
}


.middleright{
    float: right;
}

.box{
    height: 21lvw;
    width: 20lvw;
    background-color: rgb(234, 234, 234);
}

.graphic{
    margin-right: 33lvw;
    margin-top: 5lvw;
}

.logoimg{
    height: 5lvw;
    width: 5lvw;
    padding-left: 1.8lvw;
    padding-top: 4.5lvw;
}


.boxtext{
    color: black;
    font-size: 2lvw;
    padding-left: 1lvw;
}

.glink, .wlink, .slink, .alink{
    font-size: 1.05lvw;
    letter-spacing: 0.1lvw;
    color: black;
    text-decoration: underline;
    padding-left: 1lvw;

}

.glink:hover{
    color: #edde14;
}

.line{
    width: 20lvw;
    height: 0.85lvw;
    margin-top: 3.5lvw;
}

.gline{
    background-color: #edde14;
}

.web{
    margin-top: -21lvw;
    margin-left: 25lvw;
}


.wlink:hover{
    color: #ff8c8c;
}

.wline{
    background-color: #ff8c8c;
}

.soft{
    margin-top: 5lvw;
}

.slink:hover{
    color: #df7bff;
}

.sline{
    background-color: #df7bff;
}

.appl{
    margin-top: -21lvw;
    margin-left: 25lvw;
}

.alink:hover{
    color: #44ec9a;
}

.aline{
    background-color: #44ec9a;
}
